<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <appSettings>

    </appSettings>
    <system.diagnostics>
        <trace autoflush="true" indentsize="4">
            <listeners>
                <add name="TraceListener" type="System.Diagnostics.TextWriterTraceListener"
                     initializeData="AnagramApp.log"/>
                <remove name="Default"/>
            </listeners>
        </trace>
    </system.diagnostics>
</configuration>